Browser testing

<p class="warning">
  Note: this document is work in progress
</p>


<p>Buster.JS provides three methods for browser testing: <%= anchor "buster server", "buster-server" %>, <%= anchor "buster static", "buster-static" %>, and <%= anchor "headless PhantomJS", "phantomjs" %>.</p>

<h2 id="<%= id "buster-server" %>">Running with <kbd>buster server</kbd></h2>

<p>Inspired by our ancestor JsTestDriver, Buster.JS is able to automate browsers seamlessly and provide feedback anywhere you want, making running your tests in actual browsers easy and painless.</p>

<p><%= img "overview/buster-server-start.png", :width => "633", :height => "382" %></p>

<p><%= img "overview/buster-server-capture-firefox.png", :width => "827", :height => "339" %></p>

<p><%= img "overview/buster-test-run-browsers.png", :width => "633", :height => "382" %></p>

<h2 id="<%= id "buster-server" %>">Running with <kbd>buster static</kbd></h2>

<p>In the cases where you need a simpler method for running tests, Buster.JS has a straightforward HTML page based test runner, similar to QUnit.</p>

<p><%= img "overview/buster-static-start.png", :width => "529", :height => "348" %></p>

<p><%= img "overview/buster-static-success.png", :width => "514", :height => "470" %></p>

<h2 id="<%= id "phantomjs" %>">Running headless with PhantomJS</h2>

<p class="warning">
  Note: this feature has not yet landed in the beta.
</p>
