<%= partial(:head, :title => "buster.testCase") %>
<h1><code>buster.testCase</code></h1>
<dl>
  <dt>Version</dt>
  <dd>See <%=m "test", "buster-test" %></dd>
  <dt>Module</dt>
  <dd><code>require("buster-test").testCase;</code></dd>
  <dt>In browsers</dt>
  <dd><code>buster.testCase;</code></dd>
</dl>
<p>
  <a href="http://en.wikipedia.org/wiki/XUnit">xUnit</a> test case sprinkled
  with some BDD idioms. <code>buster.testCase</code> supports setup and
  teardown, asynchronous tests, nested test cases, deferred tests, and more.
  <code>buster.testCase</code> produces <%=m "test/test-context",
  "<code>buster.testContext</code>" %> objects that can be run using
  <%=m "test/test-runner", "<code>buster.testRunner</code>" %>.
</p>
<div>
<h2 id="<%= id('testCase') %>"><code>testCase(name, tests)</code></h2>
<p>
  Returns a <%=m "test/test-context#testContext", "<code>testContext</code>" %>
  that can be run with <%=m "test/test-runner", "<code>buster.testRunner</code>" %>.
  <code>name</code> is an arbitrary string.  The <code>tests</code> object can
  contain test functions, nested test cases, setup and teardown.
</p>
<h3 id="<%= id('example-bowling-kata') %>">Example: Bowling kata</h3>
<p>
  The following example shows some tests from
  <a href="http://butunclebob.com/ArticleS.UncleBob.TheBowlingGameKata">the
  bowling kata</a>, using a setup method.
</p>
<pre><code>var testCase = buster.testCase("Bowling kata tests", {
    setUp: function () {
        this.game = new BowlingGame();

        this.rollMany = function (rolls, pins) {
            for (var i = 0; i &lt; rolls; ++i) {
                this.game.roll(pins);
            }
        };
    },

    "gutter game yields 0 in score": function () {
        this.rollMany(20, 0);

        buster.assert.equals(0, this.game.score());
    },

    "1 pin on each roll should yield score of 20": function () {
        this.rollMany(20, 1);

        buster.assert.equals(20, this.game.score());
    }
});</code></pre>
<h3 id="<%= id('example-controller-tests') %>">Example: controller tests</h3>
<p>
  The following (slightly more involved) example shows some tests from a todo
  application's form controller. Nested contexts are used to separate both
  controller actions as well as successful and failed attempts at posting the
  form. Note the use of nested setup methods - both setups will be run (the
  outer first, then the inner) for each test in the "adding items" test case).
</p>
<pre><code>var testCase = buster.testCase("Form controller", {
    setUp: function () {
        this.form = document.createElement("form");
        this.form.innerHTML = "&lt;fieldset>" +
                              "&lt;input type='text' name='item' id='item'>" +
                              "&lt;/fieldset>";

        this.input = this.form.getElementsByTagName("input")[0];
        this.backend = { add: sinon.spy() };
        this.controller = todoList.formController.create(this.form, this.backend);
     },

    "adding items": {
        setUp: function () {
            this.input.value = "It puts the lotion in the basket";
        },

        "successfully": {
            "should emit onItem on success": function () {
                var item = { text: "It puts the lotion in the basket" };
                sinon.stub(this.backend, "add").yields(item);

                this.controller.addItem();

                sinon.assert.calledOnce(this.callback);
                sinon.assert.calledWith(this.callback, item);
            },

            "should clear form on success": function () {
                this.input.value = "It puts the lotion in the basket";
                this.backend.add = sinon.stub().yields({});

                this.controller.addItem();

                buster.assert.equals("", this.input.value);
            }
        },

        "unsuccessfully": {
            "should render error on failure": function () {
                sinon.stub(this.backend, "add").yields(null);

                this.controller.addItem();
                var err = this.form.firstChild;

                buster.assert.match(err, {
                    tagName: "p",
                    className: "error",
                    innerHTML: "An error prevented the item from being saved"
                });
            }
        }
    }
});</code></pre>
</div>
<div>
<h2 id="<%= id('async-tests') %>">Asynchronous tests</h2>
<p>
  To create asynchronous tests (i.e. ones that the runner will wait for), the
  test function can either explicitly accept a single argument, which is a
  function, <strong>or</strong> return a <%=m "promise", "thenable promise" %>.
</p>
<h4>Explicitly accepting an argument</h4>
<p>
  The argument passed to the test is a function. When the function is called,
  the asynchronous test is deemed done. The idiomatic way of creating
  asynchronous tests using this arguments looks like the following:
</p>
<pre><code>function someAsyncTestFunction(done) {
    setTimeout(function () {
        buster.assert(true);
        done();
    }, 100);
}</code></pre>
<p>
  This assumes that the assertion framework can fail without throwing an error
  (as an error would be intercepted as uncaught in the above example, if
  intercepted at all). If this is not the case, you can make your assertions in
  a callback to the <code>done</code> function:
</p>
<pre><code>function someAsyncTestFunction(done) {
    setTimeout(function () {
        done(function () {
            buster.assert(true);
        });
    }, 100);
}</code></pre>
<h4>Returning a promise</h4>
<p>
  Tests can be made asynchronous by way of returning a promise. The test
  runner considers any object with a <code>then</code> method a promise:
</p>
<pre><code>function someAsyncTestFunction() {
    var promise = {
        then: function (callback) {
            this.callbacks = this.callbacks || [];
            this.callbacks.push(callback);
        }
    };

    setTimeout(function () {
        buster.assert(true);
        var callbacks = promise.callbacks || [];

        for (var i = 0, l = callbacks.length; i &lt; l; ++i) {
            callbacks[i]();
        }
    }, 100);

    return promise;
}</code></pre>
<p>
  Note that this does not work entirely as expected unless your assertion
  framework of choice is able to notify the runner of failure without throwing
  an exception. If the assertion fails (and throws an exception), the promise
  will never be resolved, thus the runner will fail the test with a
  timeout, <strong>not</strong> an assertion error.
</p>
<p>
  The above example is very verbose, simply to illustrate the duck-typed nature
  of promises. You can do better by using e.g. <%=m "promise" %>:
</p>
<pre><code>function someAsyncTestFunction() {
    var promise = buster.promise.create();

    setTimeout(function () {
        buster.assert(true);
        promise.resolve();
    }, 100);

    return promise;
}</code></pre>
<p>
  Setup and teardown functions can use the same mechanism to be asynchronous.
</p>
</div>
<div>
  <h2 id="<%= id('setup-teardown') %>">Setup and teardown</h2>
  <p>
    Test cases can have setup and teardown functions. Setup functions are called
    before every test, and is a suitable place to put shared setup code:
  </p>
  <pre><code>var testCase = buster.testCase("Test with setup", {
    setUp: function () {
        this.object = { id: 42 };
    },

    "should override id": function () {
        this.object.id = 43;
        buster.assert.equals(this.object.id, 43);
    },

    "id should not equal 43": function () {
        // The object is recreated in setUp for each test
        buster.assert.notEquals(this.object.id, 43);
    }
});</code></pre>
  <p>
    Similarly, teardown functions can be used to clean up after each test. Keep in
    mind though, that the test's <code>this</code> object is discarded and
    recreated for each test. If your unit tests are properly isolated you rarely
    need clean up.
  </p>
  <pre><code>var testCase = buster.testCase("Test with teardown", {
    tearDown: function () {
        if (jQuery.ajax.restore) {
            jQuery.ajax.restore();
        }
    },

    "should make http request": function () {
        twitter.timeline("cjno", function () {});

        buster.assert(jQuery.ajax.calledOnce);
    }
});</code></pre>
  <h3 id="<%= id('nested-setup-teardown') %>">Nested setup and teardown</h3>
  <p>
    When nesting test cases, you can add setup and teardown methods to some or all
    of your test cases. All applicable setup and teardown methods are called
    before each test function. Setups are called starting from the outermost test
    case, while tear downs are called starting from the test's local
    context. Let's illustrate by way of an example.
  </p>
  <pre><code>var testCase = buster.testCase("Nested setup and teardown call order", {
    setUp: function () {
        console.log("Setup #1");
    },

    tearDown: function () {
        console.log("Teardown #1");
    },

    "test #1": function () {
        console.log("Test #1");
    },

    "context": {
        setUp: function () {
            console.log("Setup #2");
        },

        "test #2": function () {
            console.log("Test #2");
        },

        "context": {
            setUp: function () {
                console.log("Setup #3");
            },

            tearDown: function () {
                console.log("Teardown #3");
            },

            "test #3": function () {
                console.log("Test #3");
            }
        }
    }
});

// Will print:
// Setup #1
// Test #1
// Teardown #1
// Setup #1
// Setup #2
// Test #2
// Teardown #1
// Setup #1
// Setup #2
// Setup #3
// Test #3
// Teardown #3
// Teardown #1</code></pre>
  <h3 id="<%= id('async-setup-teardown') %>">Asynchronous setup and teardown</h3>
  <p>
    Setup and teardown methods are treated as asynchronous by the test runner if
    they either return a thenable promise or if they explicitly accept an
    argument. See <%= l "async-tests" %>.
  </p>
</div>
<div>
  <h2 id="<%= id('nested-test-cases') %>">Nested test cases</h2>
  <p>
    Test cases can be arbitrarily nested. Simply add a property whose value is
    an object with optional setup and teardown, tests and even more test
    cases. See the explanation of <%= anchor "nested setup and teardown",
    "nested-setup-teardown" %> for an example of using nested test cases.
  </p>
</div>
<div>
  <h2 id="<%= id('deferred-tests') %>">Deferred tests</h2>
  <p>
    If you have written a test that for some reason is impossible to pass in the
    near future, you may grow tired of seeing it fail while working on other
    parts of the system. Because the test may represent an important
    goal/requirement (perhaps the goal of a longer refactoring session) it is
    undesirable to delete it. Simply commenting out the test may cause you to
    forget it and commit commented out code, which isn't very nice.
  </p>
  <p>
    Buster recognizes the valid use of deferred tests and provides a simple way
    to defer a test - simply "comment out" its name, i.e., prefix the
    name with a pair of <code>//</code>:
  </p>
  <pre><code>var testCase = buster.testCase("Bowling kata tests", {
    setUp: function () {
        this.game = new BowlingGame();

        this.rollMany = function (rolls, pins) {
            for (var i = 0; i &lt; rolls; ++i) {
                this.game.roll(pins);
            }
        };
    },

    "gutter game yields 0 in score": function () {
        this.rollMany(20, 0);

        buster.assert.equals(0, this.game.score());
    },

    "// 1 pin on each roll should yield score of 20": function () {
        this.rollMany(20, 1);

        buster.assert.equals(20, this.game.score());
    }
});</code></pre>
<p>
  In this example, the second test will not run, but <strong>the reporter will
  include it</strong> and explicitly mark it as deferred, helping you avoid
  forgetting about it.
</p>
</div>
<%= partial :footer %>
